---
layout: landing
---
                {% include banner.html %}
				

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>Implementing the <i>synergy</i> of<br />
								business, processes, and technology<br />
                                since 2013</h2>
								<p>As a graduate of Carnegie Mellon's Information Systems Program,<br />
								I understand the flow that exists between people and technology.<br />
                                <br />
                                From beginning to end, front-end to back-end,<br />
                                I am <b>passionate</b> about problem-solving.</p>
							</header>
							<ul class="icons major">
								<li><span class="icon fa-line-chart major style1"><span class="label">Lorem</span></span></li>
								<li><span class="icon fa-connectdevelop major style2"><span class="label">Ipsum</span></span></li>
								<li><span class="icon fa-code major style1"><span class="label">Dolor</span></span></li>
							</ul>
						</div>
                      <a href="#portfolio" class="more scrolly"> Test</a>
					</section>

				
                    
                    {% include modals.html %}



                    {% include contact.html %}
