<!-- Contact Me -->
<section class="wrapper style4">
  <div class="inner center">
    <header class="major">
      <h2>Contact Me!</h2>
    </header>
    <form id="gform" method="post" action="https://script.google.com/macros/s/AKfycbw-bllrMmD2qrW7eRiXA0xMhCquY3Q6flJi9fwvruckGbJst5kq/exec">
        <div class="row uniform">
            <div class="6u 12u$(xsmall)">
                <input type="text" name="name" id="name" value="" placeholder="Name" />
            </div>
            <div class="6u$ 12u$(xsmall)">
                <input type="email" name="email" id="email" value="" placeholder="Email" />
            </div>
            <div class="12u$">
                <div class="select-wrapper">
                    <select name="category" id="category">
                        <option value="">- Category -</option>
                        <option value="Job Opening">Job Opening</option>
                        <option value="Networking">Networking</option>
                        <option value="Life Advice">Life Advice</option>
                        <option value="Misc.">Misc.</option>
                    </select>
                </div>
            </div>
            <div class="4u 12u$(small)">
                <input type="radio" value="Low" id="demo-priority-low" name="demo-priority" checked>
                <label for="demo-priority-low">Low</label>
            </div>
            <div class="4u 12u$(small)">
                <input type="radio" value="Normal" id="demo-priority-normal" name="demo-priority">
                <label for="demo-priority-normal">Normal</label>
            </div>
            <div class="4u$ 12u$(small)">
                <input type="radio" value="High" id="demo-priority-high" name="demo-priority">
                <label for="demo-priority-high">High</label>
            </div>
            
            <div class="12u$">
                <textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
            </div>
            <div class="12u$ right">
                <input type="checkbox" id="demo-human" name="demo-human" onClick="submitEnabled(this)">
                <label for="demo-human">Not a robot</label>
            </div>
            <div class="12u$">
                <ul class="actions">
                    <li><input type="submit" id="submitButton" value="Send Message" class="special" disabled/></li>
                    <li><input type="reset" value="Reset" /></li>
                </ul>
            </div>
        </div>
    </form>
    <!-- Customise the Thankyou Message People See when they submit the form: -->
    <div style="display:none;" id="thankyou_message">
      <h2><em>Thanks</em> for contacting me!
        I will get back to you soon!</h2>
    </div>

  </div>
</section>

<script>
function submitEnabled(val) {
  var submit = document.getElementById('submitButton');
  if(val.checked == true) {
    submit.disabled = false;
  } else {
    submit.disabled = true;
  }
}
</script>